.flex-container {
  display: flex;
  flex-direction: column; /* Toggle to row to display side by side! */
}

/* this selector selects all divs inside of .flex-container */
.flex-container div {
  background: peachpuff;
  border: 4px solid brown;
  height: 80px;
  flex: 1 1 auto;
}